/* header */

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin: 0;
    padding: 0;
}

.auth-nav {
    margin-left: auto;
}

.page-header {
    border-bottom: 1px solid black;
    padding: 24px 0;
}

.logo-item {
    color:black;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-item-white {
    color: white;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-item-web {
    margin-right: 93px;
    margin-left: 0px;

    color:#2196F3;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;


}

.logo-item-web-bottom {
    display: block;
    margin-bottom: 20px;

    color:#2196F3;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em; 
}

.header-nav {
    color: #212121;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.header-nav-selected {
    color: #2196F3;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.header-nav:hover,
.header-nav:focus {
    color: #2196F3;
}

.header-contact {
    color: #757575;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.header-contact:hover,
.header-contact:focus {
    color: #2196F3;
}

/*  

.email-icon::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-image: url(../images/email-header-icon-envelope.svg);
    background-size: contain;
}



.smartphone-icon::before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 16px;
    margin-right: 10px;
    background-image: url(../images/smartphone-header-icon-grey.svg);
    background-size: contain;
}

*/

.site-nav 
.header-nav:not(:last-child),
.header-contact:not(:last-child) {
    margin-right: 50px;
}

.site-nav 
.header-nav, 
.header-contact {
    padding-top: ;
    padding-bottom: ;
}


/* header */
/* body */

body {
    font-family: roboto, sans-sherif;
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.benefits-list {
    display: flex;
    gap: 30px;
}

.items-portfolio {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.photos-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4) 
    ),
    url(../images/hero-section-background.png);
    background-color: #2F303A;
}


.section-two {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-three {
    padding-bottom: 94px;
}

.our-team {
    background-color: #F5F4FA;
}

.team-member {
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio-item {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid #F5F4FA;
    border-bottom: 1px solid #F5F4FA;
    border-left: 1px solid #F5F4FA;
}

.title-hidden {
    display: none;
}

.item {
    width: 270px;
}

.item::before {
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.icon-antenna::before {
    background-image: url(../images/benefits-antenna-icon1.svg);
}

.icon-clock::before {
    background-image: url(../images/benefits-clock-icon2.svg);
}

.icon-notebook::before {
    background-image: url(../images/benefits-notebook-icon3.svg);
}

.icon-astronaut::before {
    background-image: url(../images/benefits-astronaut-icon4.svg);
}

.item-company::before {
    display: inline-block;
    content: "";
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.logo-company1::before {
    background-image: url(../images/logo-company1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo-company2::before {
    background-image: url(../images/logo-company2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo-company3::before {
    background-image: url(../images/logo-company3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo-company4::before {
    background-image: url(../images/logo-company4.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo-company5::before {
    background-image: url(../images/logo-company5.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo-company6::before {
    background-image: url(../images/logo-company6.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.title-text {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    color: #FFFFFF;
    text-decoration: none;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.title-header {
    margin-bottom: 50px;

    color: #212121;
    list-style-type: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.favorite-styled {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;


    color: #FFFFFF;
    background-color: #2196F3;
    text-decoration: none;
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.favorite-styled-portfolio {
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    color: #000000;
    background-color: #F5F4FA;
    text-decoration: none;
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.favorite-styled-portfolio:hover,
.favorite-styled-portfolio:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.main-section-header {
    margin-bottom: 10px;

    color: #212121;
    list-style-type: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.main-section-text {
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.main-section-photo {

}

.profile-card {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/*

.profile-card::after {
    display: inline-block;
    content: "";
    width: 44px;
    height: 44px;
    gap: 10px;
    margin-top: 16 px;
    margin-right: 32px;
    margin-left: 32 px;
    margin-bottom: 30px;
}

.instagram {
    background-image: url(../images/instagram-icon1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.twitter {
    background-image: url(../images/twitter-icon2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

*/

.profile-card-header {
    margin-bottom: 10px;

    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.profile-card-text {
    color: #757575;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.profile-card-social {
    display: flex;
    gap: 10px;
}

.portfolio-card-header {
    margin-bottom: 4px;

    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-card-text {
    color: #757575;
    line-height: 1.9;
    letter-spacing: 0.03em;
}



/* body */
/* footer */

.footer-information {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

address {
    font-style: normal;
}

.address-text {
    margin-bottom: 9px;

    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.address-info {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.address-info:not(:last-child) {
    margin-bottom: 9px;
}

/* footer */


/* цвет текста заголовка h1 #FFFFFF */
/* цвет текста заголовков #212121 */
/* вторичный цвет текста #757575 */
/* цвет белого фона #FFFFFF */
/* цвет синего фона #2F303A */
/* цвет серого фона #F5F4FA */
/* цвет выделенния и кнопки #2196F3 */
/* цвет контактной информации в футере #FFFFFF прозрачность 60% */
