body {
    font-family: roboto, sans-sherif;
    font-style: normal;
}

/*  @media screen and (min-width: 480px) {
    body {
        background-color: orange;
      }
}
*/

ul {
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}